<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<head>
    <meta charset="UTF-8">
    <title>MarketWiz</title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>
<div th:replace="fragments/header :: header">Header</div>
<div layout:fragment="content">

    <form action="#" th:action="@{/products/details}" method="post">
        <input type="hidden" name="productId" value="1" /> <!-- Remplacez 1 par l'ID du projet -->
        <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">View Project Details</button>
    </form>
</div>
</body>
</html>