<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MarketWiz - Product Page</title>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-white text-gray-900 overflow-x-hidden">
<!-- Navbar -->
<div th:replace="fragments/header :: header">Header</div>

<div layout:fragment="content">
    <form th:action="@{/products}" method="get" class="flex justify-center mb-4 mt-4">
        <input type="text" name="search" placeholder="Search by product name" class="border p-2 rounded"
               th:value="${searchQuery}"/>
        <button type="submit" class="ml-2 px-3 py-1 bg-black text-white rounded">Search</button>
    </form>

    <div class="flex justify-center mb-4 mt-4">
        <a th:href="@{/products}" class="px-3 py-1 bg-blue-600 text-white rounded">Show All Products</a>
    </div>


    <!-- Product Grid -->
    <div class="container mx-auto my-8 px-24">
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8">
            <div th:each="product : ${products}" class="border rounded-lg overflow-hidden bg-white shadow-md">
                <form th:action="@{/products/details}" method="post">
                    <input type="hidden" name="productId" th:value="${product.id}"/> <!-- Remplacez 1 par l'ID du projet -->
                    <button type="submit">
                        <div class="relative">
                            <img src="https://res.cloudinary.com/dz4pww2qv/image/upload/v1729264838/vc99eqavstpvn9secvxz.webp"
                                 alt="Product" class="w-full h-40 object-cover">
                            <span
                                    class="absolute top-2 left-2 bg-red-600 text-white text-xs px-2 py-1 rounded-lg">-35%</span>
                        </div>

                        <div class="p-4 text-center flex flex-col gap-4 items-start">
                            <h2 th:text="${product.name}" class="font-bold text-sm"></h2>
                            <p class="text-red-600 font-bold text-lg" th:text="${product.price}"><span
                                    class="ml-4 line-through text-gray-500">$1160</span></p>
                            <p class="font-medium text-sm" th:text="${product.description}"></p>

                            <div class="flex gap-4">
                            </div>

                        </div>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <!-- Pagination -->
    <div class="container mx-auto flex justify-center items-center space-x-2 my-8 px-4">
        <!-- Previous Button -->
        <a th:href="@{/products(page=${currentPage - 1})}"
           class="px-3 py-1 bg-gray-200 rounded"
           th:if="${currentPage > 0}">Previous</a>

        <!-- Current Page Display -->
        <span class="px-3 py-1 bg-gray-200 rounded">
        Page <span th:text="${currentPage + 1}">1</span> of <span th:text="${totalPages}">1</span>
    </span>

        <!-- Next Button -->
        <a th:href="@{/products(page=${currentPage + 1})}"
           class="px-3 py-1 bg-gray-200 rounded"
           th:if="${currentPage < totalPages - 1}">Next</a>
    </div>
</div>

</body>
</html>
