<div th:fragment="footer">

    <footer class="bg-gray-900 text-white py-6 mt-4">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8 mx-12">
            <!-- Support Section -->
            <div>
                <h3 class="font-bold mb-2 text-lg">Support</h3>
                <p class="mb-1">111 Bijoy Sarani, Dhaka, BD</p>
                <p class="mb-1">exclusive@gmail.com</p>
                <p>+88015-88888-9999</p>
            </div>
            <!-- Quick Links Section -->
            <div>
                <h3 class="font-bold mb-2 text-lg">Quick Links</h3>
                <ul>
                    <li><a href="#" class="hover:underline hover:text-red-500 transition">Privacy Policy</a></li>
                    <li><a href="#" class="hover:underline hover:text-red-500 transition">Terms of Use</a></li>
                </ul>
            </div>
        </div>

        <div class="text-center mt-6">
            <p class="text-sm">&copy; 2024 MarketWiz. All rights reserved.</p>
        </div>
    </footer>

</div>
